body {
  margin: 0;
  padding: 0;
}

#main {
  height: 100vh;
  width: 100vw;
  background-color: bisque;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
}
.container {
  margin-bottom: 5em;
}
.fila {
  display: flex;
}
.box {
  height: 5em;
  width: 5em;
  margin: 2em;
  transition: 1.5s;
}
.box:hover {
  transition: 1.5s;
  border-radius: 50%;
}
.a {
  background-color: red;
}

.b {
  background-color: orange;
}

.c {
  background-color: yellow;
}
.d {
  background-color: green;
}
.e {
  background-color: blue;
}
.f {
  background-color: blueviolet;
}
.g {
  background-color: lightblue;
}
.h {
  background-color: orchid;
}
.i {
  background-color: black;
}
.j {
  background-color: white;
}